.footer {
  padding-block: 64px;

  @include responsive(lg) {
    padding-block: 60px;
  }

  .container {
    &-footer {
      @include flex(row, center, space-between);
      flex-wrap: wrap;

      @include responsive(xl) {
        gap: 24px;
      }

      .subtext {
        &-text {
          @include flex(row, center, space-between);
          gap: 24px;

          @include responsive(sm) {
            flex-direction: column;
            align-items: flex-start;
          }

          &-logo,
          .back-to-home {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            /* 26px */
            text-transform: uppercase;
          }

          .menu {
            .nav-link {
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}